@model appointly.Models.Team

@{
    ViewData["Title"] = "Create Team";
}

<div class="container py-4 form-container">
    <h2 class="mb-3 fw-semibold">Create Team</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger small mb-2"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Name"
                           class="form-control rounded-4"
                           maxlength="100"
                           placeholder=" " />
                    <label asp-for="Name">Team Name</label>
                    <span asp-validation-for="Name" class="text-danger small"></span>
                </div>

                <div class="form-group mt-3 d-flex gap-2">
                    <input type="submit"
                           value="Create"
                           class="btn btn-primary-custom rounded-4 px-4 fw-semibold" />

                    <a asp-action="Index"
                       class="btn btn-dark-custom rounded-4 px-4 fw-semibold">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}