@{
    ViewData["Title"] = "Appointly";
}

<h1>Appointly</h1>

<ul>
    <li><a asp-controller="Users" asp-action="Index">Users</a></li>
    <li><a asp-controller="Teams" asp-action="Index">Teams</a></li>
    <li><a asp-controller="Appointments" asp-action="Index">Appointments</a></li>
</ul>