<div style="position: relative;">

    <!-- "+" Add Appointment Button -->
   <a href="@Url.Action("Create", "Appointments")"
    class="btn btn-dark rounded-circle shadow position-fixed d-flex align-items-center justify-content-center"
    style="width: 56px; height: 56px; bottom: 32px; right: 32px; font-size: 24px; z-index: 9999;"
    title="New Appointment">
    <i class="bi bi-plus-lg"></i>
    </a>

    <div id="calendar"></div>

</div>

@section Scripts {
    <script>

        var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
        initialView: 'dayGridMonth',
        events: '@Url.Action("GetAppointments", "Appointments")',

        // Click empty date to go to Create with date pre-filled
        dateClick: function(info) {
            window.location.href = '@Url.Action("Create", "Appointments")?startTime=' + info.dateStr;
        },

        // Click existing event to go to go to Details
        eventClick: function(info) {
            window.location.href = '@Url.Action("Details", "Appointments")/' + info.event.id;
        }
        });

        calendar.render();
    </script>
}